.theme-light .markdown-preview-view pre {
  background-color: #010213 !important; 
  border-radius: 8px;
  padding: 1em;
  overflow-x: auto;
}


.theme-dark .markdown-preview-view pre {
  background-color: #010113 !important; 
  border-radius: 8px;
  padding: 1em;
  overflow-x: auto;
}